* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1445px;
  padding: 0 100px;
  margin: 0 auto;
}

body {
  margin-top: 80px;
  header {
    background: #fff;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav-logo {
        color: #000;
        font-size: 40px;
        font-weight: 600;
        line-height: 50px;
      }
      .nav-items {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 41px;
        .nav-item {
          font-size: 18px;
          font-weight: 500;
          line-height: 22.5px;
        }
      }
    }
  }
  .hero {
    margin-bottom: 67px;
    .hero-style {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .hero-content {
        max-width: 530px;
        .hero-text {
          color: #363738;
          margin-bottom: 40px;
          font-size: 52px;
          font-weight: 600;
          line-height: 65px;
        }
        .hero-par {
          color: #6b6b6c;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          margin-bottom: 40px;
        }
        .hero-a {
          color: #363738;
          text-decoration: underline;
          text-decoration-color: #ffce50;
          font-size: 16px;
          font-weight: 700;
          line-height: 24px;
        }
      }
    }
  }
  .comment {
    margin-bottom: 67px;
    .comment-cards {
      padding: 40px 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      box-shadow: 0px 4px 20px 0px #00000026;
      flex-wrap: wrap;
      .comment-card {
        max-width: 240px;
        display: grid;
        gap: 16px;
        grid-template-columns: auto;
        .comment-text {
          margin-top: 8px;
          color: #363738;
          font-size: 20px;
          font-weight: 600;
          line-height: 27px;
        }
        .comment-par {
          color: #6b6b6c;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
    }
  }
  .work {
    margin-bottom: 67px;
    .work-style {
      .work-title {
        color: #363738;
        margin-bottom: 32px;
        font-size: 48px;
        font-weight: 600;
        line-height: 60px;
      }
      .work-par {
        max-width: 500px;
        margin-bottom: 56px;
        color: #6b6b6c;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
      .work-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .work-card {
          max-width: 360px;
          box-shadow: 0px 4px 15px 0px #0000001f;
          & img {
            width: 360px;
          }
          .work-card-content {
            padding: 32px;
            .w-card-text {
              color: #363738;
              font-size: 20px;
              font-weight: 600;
              line-height: 27px;
              margin-bottom: 16px;
            }
            .w-card-par {
              color: #6b6b6c;
              font-size: 16px;
              font-weight: 400;
              line-height: 24px;
              margin-bottom: 32px;
            }
            .w-card-a {
              color: #363738;
              text-decoration: underline;
              text-decoration-color: #ff9619;
              font-size: 16px;
              font-weight: 600;
              line-height: 21.6px;
            }
          }
        }
      }
    }
  }
  .delivery {
    margin-bottom: 120px;
    .d-text {
      color: #363738;
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 48px;
    }
    .d-cards {
      display: grid;
      grid-template-columns: auto;
      gap: 24px;
      .d-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 32px 96px;
        box-shadow: 0px 4px 15px 0px #0000001f;
        .d-content {
          max-width: 568px;
          .d-card-text {
            color: #363738;
            margin-bottom: 24px;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
          }
          .line {
            width: 80px;
            height: 3px;
            background: #ffce50;
            margin-bottom: 24px;
          }
          .d-card-par {
            color: #6b6b6c;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
  }
  .brand {
    margin-bottom: 130px;
    .brand-title {
      color: #363738;
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      margin-bottom: 90px;
    }
    .b-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 100px;
      flex-wrap: wrap;
      .b-card {
        max-width: 200px;
        height: 183px;
        & img {
          width: 150px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          margin-bottom: 32px;
        }
        .b-text {
          color: #363738;
          margin-bottom: 14px;
          font-size: 20px;
          font-weight: 600;
          line-height: 27px;
          text-align: center;
        }
        .b-par {
          color: #6b6b6c;
          font-size: 14px;
          font-weight: 400;
          line-height: 21px;
          text-align: center;
        }
      }
    }
  }
  .compani {
    margin-bottom: 151px;
    .c-title {
      color: #363738;
      margin-bottom: 72px;
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
    }
    .c-cards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
      .c-card {
        display: flex;
        align-items: center;
        border-radius: 15px;
        gap: 32px;
        width: 505px;
        box-shadow: 0px 4px 15px 0px #00000026;
        .c-div {
          background: #0b7572;
          width: 51px;
          height: 210px;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
        }
        .c-content {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 40px;
          .c-content2 {
            .c-text {
              color: #363738;
              margin-bottom: 12px;
              font-size: 20px;
              font-weight: 600;
              line-height: 24px;
            }
            .c-par {
              color: #6b6b6c;
              font-size: 14px;
              font-weight: 400;
              line-height: 21px;
              margin-bottom: 16px;
            }
            .line {
              width: 80px;
              height: 3px;
              background: #ffce50;
              margin-bottom: 31px;
            }
            .c-images {
              display: flex;
              align-items: center;
              gap: 20px;
            }
          }
        }
      }
    }
  }
  footer {
    background: #0b7572;
    padding: 59px 0;
    .footer-items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 80px;
      .footer-links {
        display: grid;
        grid-template-columns: auto;
        gap: 25px;
        .footer-title {
          color: #fff;
          font-size: 60px;
          font-weight: 500;
          line-height: 90px;
          letter-spacing: 0.16em;
        }
        .footer-link {
          color: #fff;
          font-size: 13px;
          font-weight: 600;
          line-height: 19.5px;
          letter-spacing: 0.16em;
        }
        .footer-images {
          display: flex;
          align-items: center;
          gap: 15px;
        }
        .footer-tell {
          color: #fff;
          font-size: 13px;
          font-weight: 600;
          line-height: 19.5px;
        }
        .footer-btn {
          background: #ff9619;
          cursor: pointer;
          border: none;
          width: 271px;
          height: 42px;
          color: #fff;
          &:hover {
            background: #0b7572;
            border: 1px solid #ff9619;
          }
        }
      }
    }
    .footer-text {
      text-align: center;
      color: #fff;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.16em;
    }
  }
}
#navbar-responsive#open {
  left: 0 !important;
}

.menu-btn {
  border: 0;
  background: transparent;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 4px;
  display: none;
  z-index: 11;
  position: relative;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #333;
}

/* MEDIA QUERIES */
@media (max-width: 1115px) {
  .nav-items {
    position: fixed;
    top: 120px;
    bottom: 0;
    left: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    transition: left 0.5s;
  }

  .menu-btn {
    display: flex;
  }

  .hero-style {
    flex-wrap: wrap;
  }

  .hero-style {
    & img {
      width: 100% !important;
    }
  }

  .comment-cards {
    padding: 10px !important;
    justify-content: center !important;
    box-shadow: none !important;
    gap: 30px;
    & img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
    .comment-text {
      text-align: center;
    }
    .comment-par {
      text-align: center;
    }
  }

  .work-cards {
    gap: 20px;
    justify-content: center !important;
  }

  .d-cards {
    display: flex !important;
    align-items: center;
    justify-content: center !important;
    flex-wrap: wrap !important;
  }

  .c-title {
    text-align: center;
  }

  .brand-title {
    text-align: center;
  }

  .d-text {
    text-align: center;
  }

  .d-card {
    width: 391px !important;
    padding: 30px !important;
  }
}

@media (max-width: 810px) {
  .hero-text {
    text-align: center;
    font-size: 25px !important;
    line-height: 25px !important;
  }

  .hero-par {
    text-align: center;
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .work-title {
    text-align: center;
    font-size: 25px !important;
    line-height: 25px !important;
  }

  .work-par {
    text-align: center;
    font-size: 12px !important;
    line-height: 15px !important;
  }

  .footer-items {
    display: grid !important;
    grid-template-columns: auto !important;
    gap: 20px;
  }

  .c-content {
    display: grid !important;
    grid-template-columns: auto;
    text-align: center;
    & img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }

  .c-card {
    width: 210px !important;
    padding: 15px 0;
    justify-content: center;
  }

  .c-div {
    display: none;
  }
}

@media (max-width: 480px) {
  .c-title {
    font-size: 28px !important;
  }
}
